__pycache__/
b.out
*.swp
*.pyc
*.db
*.o
*.so
*.pem
*.cert
*.crt
*.csr
*.crl
*.key
*.log
*.logs
*.logs.[0-9]*-[0-9]*-[0-9]*

*.txt

*.wav
*.pcm
.idea/
*/id_rsa
*/id_rsa.pub
*.test
*.tar
*.xz
*.gz
*.bz2

pw.py
hdfs--/input/
*.pyz

*.pid

*.zip

*.class
*.jar
