
!miio/imgs
!miio/devices-json

__pycache__/
a.out
b.out
*.swp
*.pyc
*.db
*.o
*.so
*_cffi.c

*.pem
*.cert
*.crt
*.csr
*.crl
*.key
*.log
*.logs
*.logs.[0-9]*-[0-9]*-[0-9]*

*.json
*.conf
*.ini

#!requiremenets.txt
#*.txt

*.wav
*.pcm
.idea/
*/id_rsa
*/id_rsa.pub
*.test
*.tar
*.xz
*.gz
*.bz2

hdfs--/input/
*.pyz

*.pid

*.zip
*.mp3
*.mp4
*.mkv
*.aac
*.jpg
*.png


*.class
*.jar
*.pbm

