[Unit]
Description=Huawei route 二级ipv6 PD 设置

[Service]
Type=simple
EnvironmentFile=%h/.ddns/huawei-route-ipv6.conf
ExecStart=%h/.venv/selenium/bin/python -u %h/.ddns/case2.py

[Install]
WantedBy=default.target
